body{
  width: 1440px;
  height: 1024px;
  margin: auto;
  padding: auto;
}
.Dark{
  background-color:#202C36;
  color: white;
}

.container-nav{
    display: flex;
    width: 1440px;
    height: 80px;
    justify-content: space-evenly;
    align-items: center;
    box-sizing: border-box;
    opacity: 0.8;
    border: 1px solid #E5E5E5;

}
.container-nav-Q{
  background-color:#2B3844;
  color: white;
  opacity: 0.8;
}
.search{
  width: 1440px;
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;}
.search1{
  width: 480px;
  height: 56px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  background: none;
}
.D-but{
  font-size: 30px;
  border: none;
  cursor: pointer;
  background: none;
}
.select-countiry{
  width: 200px;
  height: 56px;
  border-radius: 5px;
  border: 1px solid #E5E5E5;
  background: none;
}
.main-qismi{

}
.Dark-mode{
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  background: none;
  color: inherit;
}
.Dark-mode::before{
  display: inline-block;
  width: 15px;
  height: 14px;
  background-image: url('/img/Path.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  content: '';
  margin-right: 8px;
  vertical-align: middle;
}
.bayroq{
  box-sizing: border-box;
  width: 1280px;
  height: 336px;
  display: flex;
}
.bay-img-title-text{
  width: 264px;
  height: 160px;
  border-radius: 5px;
  background-color: #FFFFFF;
  margin-left: 56px;
}
.bay-img-title-text:last-child{
  border-right: 1px solid #E5E5E5;
}
.dflx{
  margin-top: -5px;
  display: flex;
  width: 264px;
  height: 30px;
  align-items: center;
}
.B-t-text{
  font-weight: 600;
  font-size: 14px;
  line-height: 16px;
  margin-right: 2px;
}